.hidden {
  display: none;
}
.template_div_table {
  float: right;
  margin-left: 3px;
}
.template_small_flag {
  height: 16px;
  margin-left: 5px;
}
.template_coat_div {
  height: 100%;
  width: 75px;
}
.template_coat_div > img {
  padding: 5px;
}
.small_flag_inline {
  width: 18px;
  height: 13px;
  border: 1px solid lightgray;
}
.key path {
  display: none;
}
.key line {
  stroke: #000;
  shape-rendering: crispEdges;
}
.label-text {
  pointer-events: none;
  letter-spacing: -0.5px;
  font-size: 1rem;
}
.label-line {
  stroke-width: 1;
  stroke: #393939;
  pointer-events: none;
}
.label-circle {
  fill: #393939;
  pointer-events: none;
}
body {
  background-color: #e7e7e7 !important;
}
.sq rect {
  fill: none;
  stroke: black;
}
.abc {
  /* font: 72px 'Blackadder ITC', Arial, sans-serif; */
  font: 72px 'Almendra SC', Arial, sans-serif;
}
.citynames {
  text-anchor: middle;
  font-size: 0.7em;
}
.head {
  text-transform: uppercase;
}
.folist .left {
  float: left;
  width: 140px;
  text-align: right;
  margin: 2px 10px;
  display: inline;
}
.folist .right {
  float: left;
  text-align: left;
  margin: 2px 10px;
  display: inline;
}
.pass {
  user-select: none;
  cursor: default;
  pointer-events: none;
}
.renamebarchart {
  fill: black;
}
.renamebarchart2 {
  stroke-dasharray: 4, 8;
  fill: black;
}
.rnbc_axis {
  font-size: 10px;
}
.rnbc_axis path,
.rnbc_axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.x.rnbc_axis path {
  display: none;
}
.q0-9 {
  fill: rgb(247, 251, 255);
}
.q1-9 {
  fill: rgb(222, 235, 247);
}
.q2-9 {
  fill: rgb(198, 219, 239);
}
.q3-9 {
  fill: rgb(158, 202, 225);
}
.q4-9 {
  fill: rgb(107, 174, 214);
}
.q5-9 {
  fill: rgb(66, 146, 198);
}
.q6-9 {
  fill: rgb(33, 113, 181);
}
.q7-9 {
  fill: rgb(8, 81, 156);
}
.q8-9 {
  fill: rgb(8, 48, 107);
}
.node:hover circle {
  fill: orange;
  cursor: hand;
}
.node text {
  font-size: 24px;
  text-anchor: middle;
  pointer-events: none;
}
.d3tooltip img {
  max-height: 100%;
  max-width: 75px;
}
.d3tooltip {
  background-color: #f5f0f0;
  border: 1px solid gray;
  padding: 5px;
  height: auto;
  width: auto;
  min-height: fit-content;
  min-width: fit-content;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.rail {
  fill: lightyellow;
  stroke: black;
}
.water {
  fill: lightyellow;
  stroke: #888;
}
.stroke {
  fill: none;
  stroke: #000;
  stroke-width: 0.5;
}
.boundary {
  fill: none;
  stroke: #888;
  stroke-linejoin: round;
}
.hexagons path {
  stroke: #fff;
}
.ditrict:hover {
  fill: yellow;
  opacity: 0.7;
  stroke: black;
  stroke-width: 2;
}
.district {
  /*  fill: orange; */
  fill: lightyellow;
  stroke: #888;
}
.state {
  fill: lightyellow;
  stroke: #888;
}
/* svg {
  background-color: pink;
} */
.drawline {
  fill: none;
  stroke: black;
  stroke-width: 5px;
  stroke-linejoin: round;
  stroke-linecap: round;
}
